# Preprocess train data

In [1]:
import pandas as pd

df = pd.read_csv("data/style_train.txt")
df.head()

,Q,A,label
0,내일 반품할 노트북이 삼성인지 엘지인지 알려주세요,저기 내일 반품할 노트북이 삼성이니 엘지니,0
1,내일 삼성노트북을 반품할거에요 엘지노트북을 반품할거에요,야 내일 삼성노트북 반품할거냐 엘지노트북 반품할거냐,0
2,내일 삼성노트북이랑 엘지노트북 중에 어떤 노트북을 반품하는거에요,야 내일 삼성노트북이랑 엘지노트북 중에 어떤 노트북 반품하는거냐,0
3,혹시 내일 반품할 노트북이 삼성과 엘지 중에 무엇인지 아시나요,저기 내일 반품할 노트북이 삼성이랑 엘지 중에 뭔지 알고있니,0
4,내일 노트북 반품이 삼성노트북인지 엘지노트북인지 확인부탁드립니다,저기 내일 노트북 반품하는게 삼성건지 엘지건지 확인좀 해봐,0

In [2]:
df.drop("label", axis="columns", inplace=True)
df.head()

                                     Q                                    A
0          내일 반품할 노트북이 삼성인지 엘지인지 알려주세요              저기 내일 반품할 노트북이 삼성이니 엘지니
1       내일 삼성노트북을 반품할거에요 엘지노트북을 반품할거에요         야 내일 삼성노트북 반품할거냐 엘지노트북 반품할거냐
2  내일 삼성노트북이랑 엘지노트북 중에 어떤 노트북을 반품하는거에요  야 내일 삼성노트북이랑 엘지노트북 중에 어떤 노트북 반품하는거냐
3   혹시 내일 반품할 노트북이 삼성과 엘지 중에 무엇인지 아시나요    저기 내일 반품할 노트북이 삼성이랑 엘지 중에 뭔지 알고있니
4  내일 노트북 반품이 삼성노트북인지 엘지노트북인지 확인부탁드립니다     저기 내일 노트북 반품하는게 삼성건지 엘지건지 확인좀 해봐

In [3]:
df.rename(columns={"Q": "honorific", "A": "non-honorific"}, inplace=True)
df.head()

                             honorific                        non-honorific
0          내일 반품할 노트북이 삼성인지 엘지인지 알려주세요              저기 내일 반품할 노트북이 삼성이니 엘지니
1       내일 삼성노트북을 반품할거에요 엘지노트북을 반품할거에요         야 내일 삼성노트북 반품할거냐 엘지노트북 반품할거냐
2  내일 삼성노트북이랑 엘지노트북 중에 어떤 노트북을 반품하는거에요  야 내일 삼성노트북이랑 엘지노트북 중에 어떤 노트북 반품하는거냐
3   혹시 내일 반품할 노트북이 삼성과 엘지 중에 무엇인지 아시나요    저기 내일 반품할 노트북이 삼성이랑 엘지 중에 뭔지 알고있니
4  내일 노트북 반품이 삼성노트북인지 엘지노트북인지 확인부탁드립니다     저기 내일 노트북 반품하는게 삼성건지 엘지건지 확인좀 해봐

In [4]:
df.to_csv("train.csv", index=False)

# Preprocess evaluation and test data

In [5]:
def preprocess(input_filepath, output_filepath):
  df = pd.read_csv(input_filepath)
  df.drop("label", axis="columns", inplace=True)
  df.rename(columns={"Q": "honorific", "A": "non-honorific"}, inplace=True)
  df.to_csv(output_filepath, index=False)

preprocess("data/style_eval.txt", "eval.csv")
preprocess("data/style_test.txt", "test.csv")